{{extend 'layout.html'}}
 <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar10">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="{{=URL('acesso_geral_projeto', args=projeto.id)}}">Acesso Geral</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{{=URL('projeto','prestacao_venda', args=projeto.id)}}">Prestação Venda</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{{=URL('projeto','investimento', args=projeto.id)}}">Investimento</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{{=URL('projeto','prestacao_cobr', args=projeto.id)}}">Prestação Cobrança</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{{=URL('projeto','lucros_prej', args=projeto.id)}}">Relatorio Lucros</a> </li>
        </ul>
      </div>
    </div>
  </nav>
 <div class="" >
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-3">
          <h2 class="mb-4">Mercadoria</h2>
            <ul class="text-capitalize">
              <a href="{{=URL('mercadoria','listar_merc_envio', args=projeto.id)}}" class="text-dark">(1) - Envio/Venda</a><br>
              <a href="{{=URL('mercadoria','listar_merc_retorno', args=projeto.id)}}" class="text-dark">(2) - Retorno/Venda</a><br>
              <a href="{{=URL('mercadoria','listar_merc_devolucao', args=projeto.id)}}" class="text-dark">(5) - Devolução/Cobrança</a><br>
             </ul>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4">Equipe</h2>
          <ul class="text-capitalize">
              <a href="{{=URL('equipe','listar_func_venda', args=projeto.id)}}" class="text-dark">(1) - Funcionarios</a><br>
              <a href="{{=URL('equipe','listar_vendedor', args=projeto.id)}}" class="text-dark">(1) - Vendedores</a><br>
              <a href="{{=URL('equipe','listar_venda', args=projeto.id)}}" class="text-dark">(2) - Venda/Comissão</a><br>
              <a href="{{=URL('equipe','listar_cobranca', args=projeto.id)}}" class="text-dark">(5) - Cobrança/Saldo</a>
            </ul>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4">Despesas</h2>
          <ul class="">
              <a href="{{=URL('despesa','listar_desp_local', args=projeto.id)}}" class="text-dark">(0) - Desp. Local</a> <br>
              <a href="{{=URL('despesa','listar_desp_venda', args=projeto.id)}}" class="text-dark">(2) - Desp. Venda</a> <br>
              <a href="{{=URL('despesa','listar_desp_cobranca', args=projeto.id)}}" class="text-dark">(5) - Desp. Cobrança</a> <br>
            </ul>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4">Deposito</h2>
          <ul class="">
              <a href="{{=URL('deposito','listar_depositos', args=projeto.id)}}" class="text-dark">(4) - Depositos/Cobrador</a><br>
            </ul>
        </div>
      </div>
    </div>
  </div>
