{{extend 'layout.html'}}



    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Atualizar dados da Despesa</h2>
            <li class="list-group-item">
              <a class="btn btn-primary btn-block" href="{{=URL('listar_despesa_venda', args=proj.id )}}">Voltar</a><br><br><br>
           
            <h3>Subir dados Despesa da venda</h3> </li>
          </div>
          <div class="col-md-8">{{=form}}</div>
        </div>
      </div>
    </div>
